.navbar {
    border-radius: 6px !important;
    color: #0080ff !important
}

.navbar-brand {
    color: #f6f7f8 !important
}

.nav-link {
    color: #ffffff !important
}

.logo{
    mix-blend-mode: multiply;
    width: 100px;
    height: auto;
}