.navbar {
    border-radius: 6px !important;
    color: #f6f7f8 !important
}

.navbar-brand {
    color: #f6f7f8 !important
}

.nav-link {
    color: #121211 !important
}

.bg-light{
    background-color: #0627ff !important
}